mixin subscription-text-field
    .subscription-text-field
        h3.title subscription text field
        .field-wrapper.medium-field
            input.subscription-text-field__input.dropdown__field.field(type="text" placeholder="Email")
            input.field__submit.field__submit--gradient(type="submit" value="arrow_forward")