mixin filter-date-dropdown
    .filter-date-dropdown 
        h3.title filter date dropdown
        .field-wrapper.medium-field
            input.filter-date-dropdown__input.dropdown__field.field(type="date" placeholder="Email")
            input.field__submit(type="submit" value="expand_more")
