mixin text-field
    .text-field
        h3.title text field
        input(type="text" placeholder="Email").text-field__input.field
    
    .dropdown
        h3.title dropdown
        .field-wrapper.medium-field
            select.dropdown__field.field
                option.dropdown__option(disabled selected) Сколько гостей
                option.dropdown__option 
                    h3.title спальни
                option.dropdown__option 
                    h3.title кровати
                option.dropdown__option 
                    h3.title ванные комнаты
            input.field__submit.field__submit(type="submit" value="expand_more")

    .subscription-text-field
        h3.title subscription text field
        .field-wrapper.medium-field
            input.subscription-text-field__input.field(type="text" placeholder="Email")
            input.field__submit.field__submit--gradient(type="submit" value="arrow_forward")

    .filter-date-dropdown 
        h3.title filter date dropdown
        .field-wrapper.medium-field
            input.filter-date-dropdown__input.field(type="date" placeholder="Email")
            input.field__submit(type="submit" value="expand_more")

    mixin checkbox(...texts) 
        ul.expandable-checkbox-list
            .expandable-checkbox-list__wrapper
                h3.title expandable checkbox list
                input.field__submit(type="button" value="expand_more")
            each text in texts
                li.expandable-checkbox-list__item
                    input.checkbox(type="checkbox" id=text)
                    label.checkbox__label(for=text)=text

        
        
    +checkbox('Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь')
        
        